@font-face
  font-family 'DS-DIGIB'
  src url("fonts/DS-DIGIB.eot?#iefix") format("embedded-opentype"), url("fonts/DS-DIGIB.ttf") format("truetype")
  font-weight normal
  font-style normal

.num
  font-family "DS-DIGIB", sans-serif
  vertical-align middle
